
name: Render Remotion Video

on:
  workflow_dispatch:

jobs:
  render:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install FFmpeg
        run: sudo apt-get install -y ffmpeg

      - name: Install Dependencies
        run: npm install

      - name: Render video
        run: npm run build

      - name: Upload video output
        uses: actions/upload-artifact@v4
        with:
          name: remotion-output
          path: out/
